*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(32, 32, 32);
}

.Portfolio{
    text-align: center;
    color:rgb(255, 2, 129);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 65px;
}

.header{
    display: flex;
    width: 70%;
    margin:auto auto;
    margin-top: 3%;
    background: white;
    border-radius:20px;
}


.header img{
border-radius: 50%;
margin-left:5%;
margin-top: 10px;
margin-bottom: 10px;
height: 150px;
width: 180px;
}

.header_info{
    margin-left:10%;
    margin-top: 10px;
}

.name{
    display: block;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
}

.contact{
    display:block;
    margin-top:5%;
    font-family: Courier, monospace;
}

.contact a{
    display: block;
    font-weight: 700;
    font-size: 28px;
    color:rgb(255, 0, 200);
}

.education{
    width: 70%;
    margin:auto auto;
    margin-top: 5%;
    background: white;
    border-radius:20px;
}

.Education{
    display: block;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 5%; 
}

.list{
    display: block;
    margin-left: 5%;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace; 
}

li{
    margin-top: 5px;
}

.slide{
 max-width:70%;
 position:relative;
 margin:auto auto;   
 margin-top:5%;
 border-radius:40px;
}

.slide img{
    height: 480px;
    border-radius:40px;
}

.prev, .next{
cursor: pointer;
position: absolute;
top:50%;
width: auto;
margin-top: -22px;
padding:16px;
color:white;
font-weight: bold;
font-size: 18px;
transition:0.6s ease;
border-radius: 0px 3px 3px 0px;
}

.next{
    right: 0;
    border-radius:3px 0px 0px 3px;
}

.prev:hover, .next:hover{
background-color: rgba(247, 0, 255, 0.8);
}

.text{
    color:#f2f2f2;
    font-size:12px;
    padding:8px 12px;
    position:absolute;
    top:0;
}

.dot{
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin:0 2px;
    background-color: #ddd;
    border-radius:50%;
    display:inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover{
    background-color: #717171;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name:fade;
    animation-duration:1.5s;
}

@-webkit-keyframes fade{
    from{opacity:0.4}
    to{opacity: 1;}
}

@keyframes fade{
    from{opacity: 0.4;}
    to{opacity: 1;}
}